@model nuestra_boda.Core.Models.Users.InvitadosModel
<div id="intro-section">
    <div id="top-parallax">
        <span class="titulo">Marisol y Ryan</span>
        <br />
        12 de Noviembre del 2022
    </div>
</div>
<div id="intro">

    <span class="saludo">Queremos hacer de nuestro amor un sentimiento infinito, por eso hemos decidido unir nuestros caminos, para juntos construir una vida llena de amor y felicidad.</span>
    <span class="anuncio">¡Nos vamos a casar!</span>
    <div class="grid-container">
        <div class="grid-item-image"></div>
        <div class="grid-item-text">

            <p>Con mucha alegría, queremos que nos acompañes en el comienzo de esta, nuestra nueva etapa de vida este 12 de Noviembre del 2022 en Hermosillo, Sonora.¡No puedes faltar!</p>
            <br />
            <br />
            <p style="text-align: center; font-size: 21px;"><b>@Model.Invitado</b></p>
            <p style="text-align: center;">
                Pases: <b>@Model.NumeroRecepciones</b> Adultos @if (Model.NumeroNinios > 0)
                {
                    <span> - <b>@Model.NumeroNinios</b> Niños </span>
                }
            </p>
            <br /> <br />
            <p>¡Nos hará muy feliz que nos acompañes en este día de celebración!</p>
        </div>
    </div>
</div>
<hr />
<div id="microevents-section">
    <div class="titulo">El Gran Día</div>
    <div id="EventoMisa">
        <div class="subtitulo">Ceremonia Religiosa</div>
        <img src="~/imgs/icons/church.png" />
        <span>Parroquia de Nuestra Señora del Carmen</span>
        <p>12 Noviembre 2022 12:00 hrs.</p>
        <p></p>
        <p><a target="_blank" href="https://goo.gl/maps/QDr4FRzjbejzEys68">Ver ubicación</a></p>
    </div>
    <div id="EventoCivil">
        <div class="subtitulo">Ceremonia Civil</div>
        <img src="~/imgs/icons/history_edu.png" />
        <span>Hacienda Real San Miguel</span>
        <p>Carr. al Real del Alamito Km. 1</p>
        <p>El Tronconal, Hermosillo, Sonora</p>
        <p>12 Noviembre 2022 20:00 hrs.</p>
        <p><a target="_blank" href="https://goo.gl/maps/xpmcMPN3MGbQibDg9"> Ver ubicación</a><p></p>
    </div>
    <div id="EventoRecepcion">
        <div class="subtitulo">Recepción</div>
        <img src="~/imgs/icons/auto_awesome.png" />
        <span>Hacienda Real San Miguel</span>
        <p>12 Noviembre 2022 21:00 hrs.</p>
        <p><a target="_blank" href="https://goo.gl/maps/xpmcMPN3MGbQibDg9"> Ver ubicación</a><p></p>
    </div>
    <div id="EventoVals">
        <div class="subtitulo">Vals</div>
        <img src="~/imgs/icons/sports_kabaddi.png" />
        <span>Hacienda Real San Miguel</span>
        <p>12 Noviembre 2022 21:40 hrs.</p>
        <p><a target="_blank" href="https://goo.gl/maps/xpmcMPN3MGbQibDg9"> Ver ubicación</a><p></p>
    </div>
    <div id="EventoCena">
        <div class="subtitulo">Cena</div>
        <img src="~/imgs/icons/dinner.png" />
        <span>Hacienda Real San Miguel</span>
        <p>22:30 hrs., 12 Noviembre 2022</p>
        <p><a target="_blank" href="https://goo.gl/maps/xpmcMPN3MGbQibDg9"> Ver ubicación</a><p></p>
    </div>
    <div id="EventoFin">
        <div class="subtitulo">Fin</div>
        <img src="~/imgs/icons/drive.png" />
        <span>Hacienda Real San Miguel</span>
        <p>2:00 hrs., 13 Noviembre 2022</p>
        <p><a target="_blank" href="https://goo.gl/maps/xpmcMPN3MGbQibDg9"> Ver ubicación</a><p></p>
    </div>
    <div id="EventoPostBoda">
        <div class="subtitulo">Posboda</div>
        <img src="~/imgs/icons/drinking.png" />
        <span>Palapa del Chito</span>
        <p>Calle de los sauces 1440 final campestre</p>
        <p>LA Finca, Hermosillo, Sonora</p>
        <p>A partir de las 14:00 hrs., 13 Noviembre 2022</p>
        <p><a target="_blank" href="https://goo.gl/maps/fL9Nmgsb9G4N9zHM6"> Ver ubicación</a><p></p>
    </div>
</div>
<hr />
<div id="Hospedaje">
    <div class="titulo">Hospedaje</div>
    <p>Para tener una estancia más comoda, te dejamos unas sugerencias:</p>
    <div class="grid-container-three">
        <div class="grid-item-gift">
            <div class="subtitulo">Hotel San Martin</div>
            <p>Blvd. Enrique Mazón López 498</p>
            <p>Hermosillo, Sonora</p>
            <p><a target="_blank" href="https://goo.gl/maps/iyhe4o885j2yjdaP6">Ver ubicación</a></p>
        </div>
    </div>
    <div class="grid-container-three">
        <div class="grid-item-gift">
            <div class="subtitulo">Hotel Premier</div>
            <p>Carretera Salida a Nogales</p>
            <p>Hermosillo, Sonora</p>
            <p><a target="_blank" href="https://goo.gl/maps/udgNSiCJnae6rMrc8">Ver ubicación</a></p>
        </div>
    </div>
    <div class="grid-container-three">
        <div class="grid-item-gift">
            <div class="subtitulo">Hotel Bugambilia Hermosillo</div>
            <p>Boulevard Kino 712</p>
            <p>Hermosillo, Sonora</p>
            <p><a target="_blank" href="https://g.page/hotelbugambilia?share">Ver ubicación</a></p>
        </div>
    </div>
</div>
<hr />
<div id="MesasRegalos">
    <div class="titulo">Mesas de regalos</div>

    <p>Si quieres tener un detalle con nosotros, aquí te dejamos sugerencias:</p>
    <div class="grid-container-three">
        <div class="grid-item-gift">
            <img src="~/imgs/icons/liverpool-logo-mini.png" />
            <br />
            <div class="subtitulo">Liverpool</div>
            <p>No. de Evento</p>
            <p><a href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/50834389">50834389</a></p>
        </div>
        <div class="grid-item-gift">
            <img src="~/imgs/icons/amazon-logo.png" />
            <br />
            <div class="subtitulo">Amazon</div>
            <p><a href="https://www.amazon.com.mx/wedding/registry/225YCM6HGW0DP">Mesa de regalos de Amazon</a></p>
        </div>
        <div class="grid-item-gift">
            <img src="~/imgs/icons/bbva-logo.png" style="width: 153px;" />
            <br />
            <div class="subtitulo">Transferencia Bancaria </div>
            <p>A nombre de: <b>Marisol Castro Pérez</b></p>
            <p>No. de Tarjeta: <b>4152 3138 1657 3484</b></p>
            <p>Cuenta CLABE: <b>012760011602778785</b></p>
        </div>
    </div>
    <br />
    <div class="subtitulo">¡Gracias!</div>
</div>
<hr />
<div id="Asistencia">
    <div class="titulo">Confirmar Asistencia</div>
    <div class="grid-container">
        <div class="grid-item">
            <p>Queremos que sea un <b>día perfecto</b> y que <b>sean parte de nuestra celebración</b>, por esto te pedimos amablemente que <b>confirmes tu asistencia</b> o en su caso <b>declines la invitación</b> con el fin de poder <b>tener una mejor organización</b>. Además, nos sería grato que indiques <b>el número de asistentes</b> según los pases recibidos.</p>
            <br /><p><b>De corazón, GRACIAS</b></p>
            <br />
            <br />
        </div>
        <div class="grid-item">
            <div class="subtitulo">¿Asistirás a Nuestra Boda?</div>
            <div>
                <input type="hidden" id="idInvitado" value="@Model.IDInvitado" />
                <input type="radio" id="radAsisto" name="radAsisto" value="1" class="radAsisto" checked="checked" /><span class="txtAsisto">Asistiré</span>
                <br />
                <input type="radio" id="radAsisto" name="radAsisto" value="0" class="radAsisto" /><span class="txtAsisto">No asistiré</span>
                <br />
                <p class="txtAsisto">Asistentes:</p>
                <p class="txtAsisto">
                    Adultos
                    <select id="numInvitadosAdultos" name="numInvitadosAdultos">
                        @for (var i = 1; i <= Model.NumeroRecepciones; i++)
                        {
                            <option value="@i" selected="selected">@i</option>
                        }
                    </select>
                    @if (Model.NumeroNinios != 0)
                    {

                    <p class="txtAsisto">
                        Niños
                        <select id="numInvitadosNinios" name="numInvitadosNinios">
                                @for (var i = 1; i <= Model.NumeroNinios; i++)
                                {
                                <option value="@i" selected="selected">@i</option>
                                }
                        </select>
                    </p>
                    }
                <br />
                <button id="btnConfirmar">Confirmar</button>
            </div>
        </div>
    </div>
    <div class="alert">
        <strong>Existió un problema!</strong> para confirmar tu presencia manda un Whatsapp a 3312171608.
    </div>

    <div class="alert success">
        <strong>Gracias por confirmar!</strong>
    </div>
</div>

